.NavLink{
    color: #3a3a3a;
    font-family: 'Nixie One', cursive;
    font-size: 135%;
    line-height: 70px;
}

.ProfileAvatar{
    margin-left: -13px;
}

.NavLink:hover{
    color: #4D0307;
    text-decoration: none;
}

.Active{
    color: #DD798A;
}

.Navbar-Collapse{
    background-color: black;
}
