.NavLink{
    color: #3a3a3a;
    font-family: 'Nixie One', cursive;
    font-size: 150%;
    line-height: 70px;
}

.NavLink:hover{
    color: #4D0307;
    text-decoration: none;
}

.Active{
    color: #DD798A;
}