/* LAYOUT */
.Container {
  border-bottom: 1px solid #000000;
}

.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

  .PostBar {
    text-align: center;
    margin: 0 auto;
  }

  .PostBar p{
    padding: 5px;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .TopRow{
    justify-content: space-between;
  }
  
  /* LIKES & COMMENTS */
  .Heart,
  .CommentBubble,
  .HeartOutline {
    color: #4D0307;
  }
  
  .Heart:hover,
  .CommentBubble:hover,
  .HeartOutline:hover {
    color: #DD798A;
  }
  
