/* LAYOUT */
.Container {
  border-bottom: 1px solid #000000;
}

.PostBar {
  text-align: center;
  margin: 0 auto;
}

.PostBar p {
  padding: 5px;
}

/* USERNAME + AVATAR + EDIT */
.Username h2,
.Username p {
  color: black; 
}

.Username h2 {
  font-size: 150%;
}

.Username:hover {
  color: #DD798A;
}

.TopRow {
  justify-content: space-between;
}

/* LIKES & COMMENTS */
.Heart,
.CommentBubble,
.HeartOutline {
  color: #4D0307;
}
  
.Heart:hover,
.CommentBubble:hover,
.HeartOutline:hover {
  color: #DD798A;
}