.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

  .PostBar {
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .TopRow{
    justify-content: space-between;
  }
  
  .Heart {
    color: #4D0307;
  }
  
  .Heart:hover {
    color: #DD798A;
  }
  
  .HeartOutline:hover {
    color: #4D0307;
  }