p, h1, h2, label, input, button {
  font-family: 'Nixie One', cursive;
  font-size: 130%;
}

h1{
  font-size: 200%;
}

.NavBar h1{
  font-family: 'Zilla Slab Highlight', cursive;
  text-transform: uppercase;
  font-size: 400%;
  color: black;
  text-align: center;
}